*
{
    margin: 0;
    padding: 0;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body{
    color: black;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    background: black;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.webgl:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

h1{
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    text-align: center;
}


#audioplayer{
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 96px;
    height: 96px;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
    border: none;
    background-color: white;
    color: black;
    border-radius: 99px;
    z-index: 999;
}

#play:hover {
    cursor: pointer;
    color: white; 
    background-color: #8a1717;
}

#play:active { 
    cursor: pointer;
    color: white; 
    background-color: #bd331b;
}




@media only screen and (max-width: 1200px) {


}



@media only screen and (max-width: 600px) {


}